body {
  background: radial-gradient(
    534px at 7.8% 17.6%,
    rgb(254, 253, 112) 1.7%,
    rgb(248, 143, 111) 91.8%
  );
  margin: 60px auto;
  max-width: 1000px;
}
h1 {
  text-align: center;
}
.links {
  text-align: center;
}

.links a {
  color: blueviolet;
  margin: 0 10px;
}
.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
p {
  text-align: center;
}
